.container > table {
  width: 100%;
}
.container {
  padding: 3%;
  margin-top: 3%;
  margin-bottom: 3%;
  border-radius: 0.5rem;
  background: #fff;
  -webkit-box-shadow: 10px 10px 20px -10px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 20px -10px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 20px -10px rgba(0,0,0,0.75);
  border: solid 2px #f0f0f0;
}
